<mat-toolbar color="primary">
  <a mat-button routerLink="/">Mein Kochbuch.de</a>
  <span class="toolbar-spacer"></span>

  <!-- Navigation für eingeloggte Benutzer -->
  <ng-container *ngIf="user()">
    <a mat-button routerLink="/myrecipes">Meine Rezepte</a>
    <a mat-button routerLink="/user-settings">Benutzereinstellungen</a>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>

  <!-- Login-Button für nicht eingeloggte Benutzer -->
  <a *ngIf="!user()" mat-button routerLink="/login">Login</a>
</mat-toolbar>

<!-- Button "Neues Rezept hochladen" nur auf der Startseite und bei Login -->
<div class="new-recipe-container" *ngIf="user() && isHomePage()">
  <button mat-raised-button color="accent" routerLink="/newrecipe">Neues Rezept hochladen</button>
</div>

<router-outlet></router-outlet>
