<form [formGroup]="userForm" (ngSubmit)="updateUser()">
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" placeholder="Name">
    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
      Name muss mindestens 3 Zeichen lang sein.
    </div>
  </div>
  <div>
    <label for="password">Neues Passwort:</label>
    <input id="password" type="password" formControlName="password" placeholder="Neues Passwort">
    <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
      Passwort muss mindestens 8 Zeichen lang sein.
    </div>
  </div>
  <button type="submit" [disabled]="userForm.invalid">Profil aktualisieren</button>
  <button type="button" (click)="changePassword()" [disabled]="!userForm.get('password')?.valid">Passwort ändern</button>
</form>

<div *ngIf="updateMessage">{{ updateMessage }}</div>
