<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registrierung</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- Name -->
      <div class="row">
        <div class="col">
          <mat-form-field hintLabel="Einloggen mit Nutzername und Passwort" class="full-width">
            <input matInput placeholder="Name" formControlName="name" autocomplete="off">
            <mat-icon matSuffix>person_add</mat-icon>
            <!-- Fehleranzeige -->
            <mat-error *ngIf="registerForm.controls['name'].hasError('required')">
              Name <strong>erforderlich</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Passwort -->
      <div class="row">
        <div class="col">
          <mat-form-field hintLabel="Mind. 8 Zeichen, mind. 1 Groß- und Kleinbuchstaben, Ziffer und Sonderzeichen" class="full-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Passwort" formControlName="passwort" autocomplete="new-password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- Fehleranzeige -->
            <mat-error *ngIf="registerForm.controls['passwort'].hasError('required')">
              Passwort <strong>erforderlich</strong>
            </mat-error>
            <mat-error *ngIf="registerForm.controls['passwort'].hasError('minlength')">
              Passwort muss mind. <strong>8</strong> Zeichen enthalten!
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Passwort wiederholen -->
      <div class="row">
        <div class="col">
          <mat-form-field hintLabel="Das selbe Passwort wie oben" class="full-width">
            <input matInput
                   [class.ng-invalid]="differentPasswort()"
                   [class.ng-valid]="!differentPasswort()"
                   [type]="hide2 ? 'password' : 'text'" placeholder="Passwort wiederholen" formControlName="passwort2" autocomplete="new-password">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- Fehleranzeige -->
            <mat-error *ngIf="registerForm.controls['passwort2'].hasError('required')">
              Wiederholung Passwort <strong>erforderlich</strong>
            </mat-error>
            <mat-error *ngIf="registerForm.controls['passwort2'].hasError('minlength')">
              Passwort muss mind. <strong>8</strong> Zeichen enthalten!
            </mat-error>
            <mat-error *ngIf="differentPasswort()">
              Passwörter nicht identisch!
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <!-- Registrieren Button -->
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid || differentPasswort()">Registrieren</button>
    </mat-card-actions>
  </mat-card>
</form>
